WebApplication1/WebApplication1/Service References/ServiceReference1/SiteMigrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SiteMigrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISiteMigrationService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52735/SiteMigrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52735/SiteMigrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52735/SiteMigrationService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISiteMigrationService_GetSiteStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteStatus" />
  </wsdl:message>
  <wsdl:message name="ISiteMigrationService_GetSiteStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSiteStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ISiteMigrationService_MigrateToPX_InputMessage">
    <wsdl:part name="parameters" element="tns:MigrateToPX" />
  </wsdl:message>
  <wsdl:message name="ISiteMigrationService_MigrateToPX_OutputMessage">
    <wsdl:part name="parameters" element="tns:MigrateToPXResponse" />
  </wsdl:message>
  <wsdl:message name="ISiteMigrationService_FtpFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:FtpFiles" />
  </wsdl:message>
  <wsdl:message name="ISiteMigrationService_FtpFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:FtpFilesResponse" />
  </wsdl:message>
  <wsdl:message name="ISiteMigrationService_FtpGraphFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:FtpGraphFiles" />
  </wsdl:message>
  <wsdl:message name="ISiteMigrationService_FtpGraphFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:FtpGraphFilesResponse" />
  </wsdl:message>
  <wsdl:message name="ISiteMigrationService_MigrateDFcontentFiles_InputMessage">
    <wsdl:part name="parameters" element="tns:MigrateDFcontentFiles" />
  </wsdl:message>
  <wsdl:message name="ISiteMigrationService_MigrateDFcontentFiles_OutputMessage">
    <wsdl:part name="parameters" element="tns:MigrateDFcontentFilesResponse" />
  </wsdl:message>
  <wsdl:portType name="ISiteMigrationService">
    <wsdl:operation name="GetSiteStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteMigrationService/GetSiteStatus" message="tns:ISiteMigrationService_GetSiteStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteMigrationService/GetSiteStatusResponse" message="tns:ISiteMigrationService_GetSiteStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MigrateToPX">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteMigrationService/MigrateToPX" message="tns:ISiteMigrationService_MigrateToPX_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteMigrationService/MigrateToPXResponse" message="tns:ISiteMigrationService_MigrateToPX_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FtpFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteMigrationService/FtpFiles" message="tns:ISiteMigrationService_FtpFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteMigrationService/FtpFilesResponse" message="tns:ISiteMigrationService_FtpFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FtpGraphFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteMigrationService/FtpGraphFiles" message="tns:ISiteMigrationService_FtpGraphFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteMigrationService/FtpGraphFilesResponse" message="tns:ISiteMigrationService_FtpGraphFiles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MigrateDFcontentFiles">
      <wsdl:input wsaw:Action="http://tempuri.org/ISiteMigrationService/MigrateDFcontentFiles" message="tns:ISiteMigrationService_MigrateDFcontentFiles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISiteMigrationService/MigrateDFcontentFilesResponse" message="tns:ISiteMigrationService_MigrateDFcontentFiles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISiteMigrationService" type="tns:ISiteMigrationService">
    <wsp:PolicyReference URI="#WSHttpBinding_ISiteMigrationService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetSiteStatus">
      <soap12:operation soapAction="http://tempuri.org/ISiteMigrationService/GetSiteStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MigrateToPX">
      <soap12:operation soapAction="http://tempuri.org/ISiteMigrationService/MigrateToPX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpFiles">
      <soap12:operation soapAction="http://tempuri.org/ISiteMigrationService/FtpFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FtpGraphFiles">
      <soap12:operation soapAction="http://tempuri.org/ISiteMigrationService/FtpGraphFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MigrateDFcontentFiles">
      <soap12:operation soapAction="http://tempuri.org/ISiteMigrationService/MigrateDFcontentFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiteMigrationService">
    <wsdl:port name="WSHttpBinding_ISiteMigrationService" binding="tns:WSHttpBinding_ISiteMigrationService">
      <soap12:address location="http://localhost:52735/SiteMigrationService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost:52735/SiteMigrationService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>